<!DOCTYPE html>
<html>
    <head>
        <title>About This Wiki</title>
    </head>
    <body>
        <center>
            <h3>About this Wiki</h3>
            <!-- TODO(Project 1): Add info about the wiki. -->
                <div>
                    It contains the best TV shows you can find on Netflix.
                </div>
            <h3>Authors</h3>
                <div>
                    David Castillo
                    <div>
                    Barsha Chaudhary
                    </div>
                    Devin Griffin
                </div>
            <!-- TODO(Project 1): Add team members and pictures to about page. -->
        </center>
    </body>
</html>