{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
            <h3>About this Wiki</h3>
                <div>
                    It contains the best TV shows you can find on Netflix.
                </div>
            <h3>Authors</h3>
                <div>
                    David Castillo
                    <div>
                    <img src="/get_image/David_Castillo.jpg" style="width:500px;height:600px;" /> <br>
                    </div>
                    Barsha Chaudhary
                    </div>
                    <img src="/get_image/Barsha_Chaudhary.jpg" style="width:500px;height:600px;"/> <br>
                    <div>
                    Devin Griffin
                    </div>
                    <img src="/get_image/Devin_Griffin.jpg"  style = "width:500px;height:600px;"/>
                </div>
        
            {%endblock%}