<!DOCTYPE html>
<html>

<head>
        <title> {% block title %}{% endblock %} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body style="text-align: center">
    
    <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/pages">Pages</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/search">Search</a></li>
        {% if not current_user.is_authenticated %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="/profile">Profile</a>
        <a href="/upload">Upload</a>
        <a href="/logout">Logout</a>
        {% endif %}
      </div>
      <h3>
        {% if current_user.is_authenticated %}
        Welcome {{ current_user.name }}!
        {% endif %}
      </ul>

      <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>