{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block content %}
        
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p> {{msg}} </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h3>Login to Wiki</h3>
            <form action= "" method= "POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <label> Email </label>
                <input type="text" name="email" value={{request.form.email}}>
                <label> Password </label>
                <input type= "password" name="password" value={{request.form.password}}>
                <input type = "submit" name= "submit_to_signup" value = "Login">
            </form>
            
 {%endblock%}