<!DOCTYPE html>
<html>

<head>
    <head>
        <title>Cracking Coding Interview</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        Cracking the Coding Interview gives you a great birds-eye view of the relevant data structures and algorithms, but it doesn't get deep enough into the fundamentals. When you enter a coding interview, there is a slim chance you are going to get a problem that you have seen before.
    </div>
</body>

</html>
