{% extends "layout.html" %}
{% block title %}Best Netflix TV Shows{% endblock %}
{% block content %}
        <h1>{{filename}}</h1>
        <div style="text-align: left;">Genres: 
            {% for i in range(genres|length) %}
                {% if i == genres|length -1 %}
                    {{genres[i]}} <!--Shows the last genre so it does not have a comma after it-->
                {% else %}
                    {{genres[i]}}, <!--Shows a genre followed by a comma, because it is not the last genre-->
                {% endif %}
            {% endfor %}
        </div>
            <br></br>
            {% for line in text_lines %}
                {% if line == ' \n' or line == '\n' %}
                    <br></br>
                {% else %}
                    <div style="text-align: left;">{{line}}</div>
                {% endif %}
            {% endfor %}
{%endblock%}