<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body style="text-align: center">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    <body>
            <h3>Sign up to NetflixSeries Wiki</h3>
            <form action= "" method= "POST", enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <label> Email </label>
                <input type="email" name= "email" value={{request.form.email}}>
                <label> Password </label>
                <input type= "password" name="password" value={{request.form.password}}>
                <label> Have Netflix Account?: </label>
                    <input type = "radio" name="account option"> Yes
                    <input type = "radio" name="account option"> No
                <input type = "submit" name= "submit_to_login" value = "SignUp" >
            </form>
    </body>
</html>