{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}


<h1> Search For Netflix Shows: </h1>
  
  </style>
  </head>
  <body>
  
    <div class="search-container">
      <form action= "" method="POST">
        <input type="text" placeholder="Search.." name="search" required>
        <button type="submit">Submit</button>
        <br>
        <p>Please select to Search by Title or Genre(s):</p>
        <input type="radio" id="search" name="choice" value="Title" checked>
        <label for="genre">Title</label><br>
        <input type="radio" id="search" name="choice" value="Genre">
        <label for="genre">Genre(s)</label><br>
  <br>
      </form>
    </div>
  </div>
  <!-- <p>Please select to Search by Title or Genre(s):</p> -->
  <!-- <input type="radio" id="search" name="choice" value="Title" checked>
  <label for="genre">Title</label><br>
  <input type="radio" id="search" name="choice" value="Genre">
  <label for="genre">Genre(s)</label><br>
  <br> -->
  <div>
    If genre(s), please search from the following: <br>
    Adventure <br>
    Action <br>
    Animation <br>
    Thriller <br>
    Comedy <br>
    Drama<br>
    Romance<br>
    Science Fiction<br>
    Fantasy <br>
    <br>
    For multiple genres, separate by commas (i.e., "Adventure, Action") 

</div>

  
  
  
  </body>
  </html>
  

{%endblock%}