<html>
    <head>
        <title>Upload</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body style="text-align: center">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    
    <h1>Upload File to the Wiki</h1>
   <body>
      <form action = "/upload" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>   
   </body>
</html>